contexttimer
decord
einops
fairscale
ftfy
iopath
ipython
omegaconf
opencv-python-headless==4.5.5.64
opendatasets
packaging
pandas
plotly
pre-commit
pycocoevalcap
pycocotools
python-magic
sentencepiece
spacy
streamlit
timm
transformers
accelerate
imageio
opencv-python
wandb
gradio
opencv-python-headless
scikit-image
fasttext