contexttimer
decord
einops>=0.4.1
fairscale==0.4.4
ftfy
iopath
ipython
omegaconf
opencv-python-headless==4.5.5.64
opendatasets
packaging
pandas
plotly
pre-commit
pycocoevalcap
pycocotools
python-magic
sentencepiece
spacy
streamlit
timm==0.4.12
transformers==4.34.1
accelerate
imageio==2.34.0
opencv-python
wandb
gradio==3.40.0
opencv-python-headless==4.5.5.64
scikit-image==0.21.0
fasttext